@font-face {
	font-family:SZSansRegular;
	src:url('fonts/SZSans.eot');
	src:url('fonts/SZSans.eot#iefix') format('eot'),url('fonts/SZSans.woff') format('woff'),url('fonts/SZSans.otf') format('opentype')
}
@font-face {
	font-family:SZSansBold;
	src:url('fonts/SZSans-Bold.eot');
	src:url('fonts/SZSans-Bold.eot#iefix') format('eot'),url('fonts/SZSans-Bold.woff') format('woff'),url('fonts/SZSans-Bold.otf') format('opentype')
}
