@font-face {
	font-family:SZSansRegular;
	src:url('font/SZSans.eot');
	src:url('font/SZSans.eot#iefix') format('eot'),url('font/SZSans.woff') format('woff'),url('font/SZSans.otf') format('opentype')
}
@font-face {
	font-family:SZSansBold;
	src:url('font/SZSans-Bold.eot');
	src:url('font/SZSans-Bold.eot#iefix') format('eot'),url('font/SZSans-Bold.woff') format('woff'),url('font/SZSans-Bold.otf') format('opentype')
}
