@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000314}}
body {
  padding: 0;
  margin: 0;
  font-family: SZSansRegular;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000319}}
body #pagewrap {
  width: 940px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000322}}
body #pagewrap #topbar {
  width: 100%;
  height: 46px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000326}}
body #pagewrap #topbar #topinfo {
  height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000330}}
body #pagewrap #topbar #topcolors > div {
  float: left;
  width: 33%;
  height: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000335}}
body #pagewrap #topbar #topcolors > div.black {
  background-color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000337}}
body #pagewrap #topbar #topcolors > div.red {
  background-color: #fc1116;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000339}}
body #pagewrap #topbar #topcolors > div.yellow {
  width: 34%;
  background-color: #f4c800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000345}}
#questions-table table {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000350}}
#questions-table table thead td {
  color: #888888;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000356}}
#questions-table table tr:nth-child(even) {
  background-color: #f4f3f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000359}}
#questions-table table tr td {
  padding: 16px 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000362}}
#questions-table table tr td.question-text {
  width: 215px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000365}}
.radio-button {
  width: 22px;
  height: 23px;
  margin: 0 auto;
  background-image: url(images/radio-button.png);
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000372}}
.radio-button.selected {
  background-image: url(images/radio-button-selected.png);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000375}}
.checkbox {
  width: 18px;
  height: 19px;
  margin: 0 auto;
  background-image: url(images/checkbox.png);
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/buzz\/dokumente\/arbeit\/odc\/wahltesen\/src\/app\/sass\/style\.sass}line{font-family:\0000382}}
.checkbox.selected {
  background-image: url(images/checkbox-selected.png);
}
