<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="app/styles/style.css" type="text/css" charset="utf-8"/>
	<link rel="stylesheet" href="app/styles/fonts.css" type="text/css" charset="utf-8"/>
</head>
<body>
	<div id="pagewrap">
		<noscript>
			<p>
				JavaScript ist zur Zeit deaktiviert. Die Seite kann leider nicht
				dargestellt werden. Bitte aktivieren sie JavaScript in Ihrem
				Browser.
			</p>
		</noscript>

		<div id="topbar">
			<div id="topinfo">
				
			</div>
			<div id="topcolors">
				<div class="black"></div>
				<div class="red"></div>
				<div class="yellow"></div>
			</div>
		</div>

		<div id="main">
		</div>

	</div>

	<script type="text/template" id="template-main">
		<div id="filter"></div>
		<div id="questions-table"></div>
		<div id="bottom"></div>
	</script>

	<script type="text/template" id="template-questions-filter">
		<div class="filter">
			<div class="checkbox <%= average %>" id="filter-average"></div><label class="<%= average %>">Durchschnitt</label>
		</div>
		<div class="filter">
			<div class="checkbox <%= abgeordnete %>" id="filter-abgeordnete"></div><label class="<%= abgeordnete %>">Abgeordnete</label>
		</div>
		<div class="filter">
			<div class="checkbox <%= user %>" id="filter-user"></div><label class="<%= user %>">Ihre Meinung</label>
		</div>
	</script>

	<script type="text/template" id="template-questions-table">
		<div id="questions-table-header-wrapper">
			<table id="questions-table-header">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Ich stimme<br />absolut nicht zu</td>
						<td>Ich stimme<br />eher nicht zu</td>
						<td>Ich bin<br />unentschieden</td>
						<td>Ich stimme<br />eher zu</td>
						<td>Ich stimme<br />absolut zu</td>
						<td>These doppelt<br />gewichten</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="questions-table-rows-wrapper">
			<table id="questions-table-rows">
				<tbody>
				</tbody>
			</table>
		</div>
	</script>

	<script type="text/template" id="template-question">
		<td><%= text %></td>
		<td><div class="radio-button"></div></td>
		<td><div class="radio-button"></div></td>
		<td><div class="radio-button"></div></td>
		<td><div class="radio-button"></div></td>
		<td><div class="radio-button"></div></td>
		<td><div class="checkbox"></div></td>
	</script>

	<script type="text/template" id="template-bottom">
		<button name="start">Jetzt auswerten</button>
	</script>

	<script data-main="app/require-config" src="/lib/require.js"></script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
