<div class="caret"><i class="icon-caret-right"/></div>
<div class="question"><%= text %></div>
<div class="cell"><div class="radio-button unselected"/></div>
<div class="cell"><div class="radio-button unselected"/></div>
<div class="cell"><div class="radio-button unselected"/></div>
<div class="cell"><div class="radio-button unselected"/></div>
<div class="cell"><div class="radio-button unselected"/></div>
<div class="cell"><div class="checkbox"></div></div>
<div class="overlay">
	<div class="party-avg icon-circle gruene"  title="B'90/Grüne"   data-party="gruene"></div>
	<div class="party-avg icon-circle spd"     title="SPD"          data-party="spd"></div>
	<div class="party-avg icon-circle linke"   title="Linke"        data-party="linke"></div>
	<div class="party-avg icon-circle cdu"     title="CDU"          data-party="cdu"></div>
	<div class="party-avg icon-circle csu"     title="CSU"          data-party="csu"></div>
	<div class="party-avg icon-circle fdp"     title="FDP"          data-party="fdp"></div>
	<div class="party-avg icon-circle piraten" title="Piraten"      data-party="piraten"></div>
	<div class="party-avg icon-circle fw"      title="Freie Wähler" data-party="fw"></div>
</div>
