<div class="question"><%= text %></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="checkbox"></div></div>
<div class="overlay">
	<div class="party-avg gruene" title="B'90/Grüne"><i class="icon-circle"></i></div>
	<div class="party-avg spd" title="SPD"><i class="icon-circle"></i></div>
	<div class="party-avg linke" title="Linke"><i class="icon-circle"></i></div>
	<div class="party-avg cdu" title="CDU"><i class="icon-circle"></i></div>
	<div class="party-avg csu" title="CSU"><i class="icon-circle"></i></div>
	<div class="party-avg fdp" title="FDP"><i class="icon-circle"></i></div>
	<div class="party-avg piraten" title="Piraten"><i class="icon-circle"></i></div>
	<div class="party-avg fw" title="Freie Wähler"><i class="icon-circle"></i></div>
</div>
