<div class="question"><%= text %></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="checkbox"></div></div>
<div class="overlay">
	<div class="party-avg gruene"  title="B'90/Grüne"   data-party="gruene"><i class="icon-circle"></i></div>
	<div class="party-avg spd"     title="SPD"          data-party="spd"><i class="icon-circle"></i></div>
	<div class="party-avg linke"   title="Linke"        data-party="linke"><i class="icon-circle"></i></div>
	<div class="party-avg cdu"     title="CDU"          data-party="cdu"><i class="icon-circle"></i></div>
	<div class="party-avg csu"     title="CSU"          data-party="csu"><i class="icon-circle"></i></div>
	<div class="party-avg fdp"     title="FDP"          data-party="fdp"><i class="icon-circle"></i></div>
	<div class="party-avg piraten" title="Piraten"      data-party="piraten"><i class="icon-circle"></i></div>
	<div class="party-avg fw"      title="Freie Wähler" data-party="fw"><i class="icon-circle"></i></div>
</div>
