<div id="mask"></div>
<div id="dialog-wrapper">
  <div class="vcenter">
    <div id="dialog-outer">
      <div class="controls">
        <button class="icon-remove" name="close"></button>
      </div>
      <div id="dialog-content"></div>
    </div>
  </div>
</div>
