@import "compass"
@import "vars"

#questions-table
	clear: left

	$first-col-width-resulting: $first-col-width - $default-padding
	$col-width: ($total-width - $first-col-width) / 6
	$row-height: 7rem
	$shadow-height: 10px

	width: $total-width
	text-align: center

	#questions-table-header-wrapper
		border-top: 1px solid $color-border-grey
		border-bottom: 1px solid $color-border-grey
		padding: $default-padding 0 $default-padding

		#questions-table-header
			display: table-row
			width: $total-width

			> *
				display: table-cell
				width: $col-width
				color: $color-grey

			> div:nth-child(1)
				width: $first-col-width-resulting + $default-padding !important

	.caret i
		margin-left: -5px
		font-size: 60px
		color: #ccc
		opacity: 1
		+single-transition(opacity, 0.3s)

	.filled-in .caret i
		opacity: 0

	.shadow-top, .shadow-bottom
		position: absolute
		width: $total-width
		height: $shadow-height
		opacity: 0.2
		background-size: $shadow-height $shadow-height
		background-repeat: repeat no-repeat
		z-index: 1
		pointer-events: none
	
	.shadow-top
		background-image: image-url("gradient-top.png")

	.shadow-bottom
		margin-top: -$shadow-height
		background-image: image-url("gradient-bottom.png")

	#questions-table-rows-wrapper
		position: relative
		height: $questions-height
		overflow-x: hidden
		overflow-y: scroll

		#questions-table-rows
			width: $total-width

			.row
				display: table-row
				width: $total-width
				height: $row-height
				overflow: hidden
				color: $color-grey

				> *
					display: table-cell
					height: $row-height
					vertical-align: middle

				&:nth-child(even)
					background-color: $color-bg-grey

				.question
					padding: 0 0 0 $default-padding
					width: $first-col-width-resulting
					text-align: left

				.cell
					width: $col-width

				.overlay
					position: absolute
					width: auto
					height: auto
					margin-left: -$total-width

					> .party-avg
						top: 49px
						display: none
						position: absolute
						cursor: default
						opacity: 0.75
						transition-property: opacity
						transition-duration: 0.3s

					> .party-avg.dim
						opacity: 0.3

					> .party-avg.highlight
						margin-top: -5px
						margin-left: -4px
						font-size: 27px
						opacity: 1
						z-index: 1