@import "compass"
@import "vars"

#result

	$border-width: 3px

	color: $color-grey
	margin: 20px 0

	> div > div
		float: left
		padding: $default-padding
		width: 100%

	.result, .party
		overflow: hidden

	#result-parties
		// width: $total-width - $first-col-width - 2 * $default-padding - $border-width
		text-align: center
		font-size: 26px
		line-height: 1

		.label
			font-size: 22px
			margin-bottom: $default-padding

		.todo
			font-size: 18px
			margin-top: $default-padding - 5px
			margin-bottom: 0

		.result
			padding-bottom: 5px // for box shadows
			display: inline-block

			.btn-wrapper
				text-align: left
				cursor: pointer
				position: relative
				float: left
				margin: 0px 10px
				border: 1px solid $color-border-grey
				background-color: white
				+single-transition(background-color, 0.1s)
				+default-box-shadow()
				+unselectable

				$mix-color: white
				$mix-amount: 100%
				
				&.selected
					color: white

				&.gruene.selected
					background-color: mix($color-gruene, $mix-color, $mix-amount)
				&.spd.selected
					background-color: mix($color-spd, $mix-color, $mix-amount)
				&.linke.selected
					background-color: mix($color-linke, $mix-color, $mix-amount)
				&.cdu.selected
					background-color: mix($color-cdu, $mix-color, $mix-amount)
				&.csu.selected
					background-color: mix($color-csu, $mix-color, $mix-amount)
				&.fdp.selected
					background-color: mix($color-fdp, $mix-color, $mix-amount)
				&.piraten.selected
					background-color: mix($color-piraten, $mix-color, $mix-amount)
				&.fw.selected
					background-color: mix($color-fw, $mix-color, $mix-amount)

			.btn-background
				position: absolute
				height: 100%
				width: 100%
				z-index: 0

			.btn-text
				position: relative
				padding: 8px 10px 5px 10px
				z-index: 1
