@import "compass"
@import "vars"

.gruene
	color: $color-gruene
.spd
	color: $color-spd
.linke
	color: $color-linke
.cdu
	color: $color-cdu
.csu
	color: $color-csu
.fdp
	color: $color-fdp
.piraten
	color: $color-piraten
.fw
	color: $color-fw

body
	padding: 0
	margin: 0
	font-family: SZSansRegular
	font-size: 14px
	color: $color-almost-black
	+unselectable

	#pagewrap
		width: $total-width

.evaluated

	.radio-button.unselected, .checkbox
		opacity: 0.3
		cursor: default

.radio-button
	width: 22px
	height: 23px
	margin: 0 auto
	background-image: image-url("radio-button.png")
	cursor: pointer

	&.selected
		background-image: image-url("radio-button-selected.png")

.checkbox
	width: 18px
	height: 19px
	margin: 0 auto
	background-image: image-url("checkbox.png")
	cursor: pointer

	&.selected
		background-image: image-url("checkbox-selected.png")
