<div id="questions-table-header-wrapper">
	<table id="questions-table-header">
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>Ich stimme<br />absolut nicht zu</td>
				<td>Ich stimme<br />eher nicht zu</td>
				<td>Ich bin<br />unentschieden</td>
				<td>Ich stimme<br />eher zu</td>
				<td>Ich stimme<br />absolut zu</td>
				<td>These doppelt<br />gewichten</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div id="questions-table-rows-wrapper">
	<table id="questions-table-rows">
		<tbody>
		</tbody>
	</table>
</div>
