<div class="question"><%= text %></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="radio-button"></div></div>
<div class="cell"><div class="checkbox"></div></div>
<div class="overlay">
	<div class="party-avg gruene" title="B'90/Grüne">X</div>
	<div class="party-avg spd" title="SPD">X</div>
	<div class="party-avg linke" title="Linke">X</div>
	<div class="party-avg cdu" title="CDU">X</div>
	<div class="party-avg csu" title="CSU">X</div>
	<div class="party-avg fdp" title="FDP">X</div>
	<div class="party-avg piraten" title="Piraten">X</div>
	<div class="party-avg fw" title="Freie Wähler">X</div>
</div>
