<div id="questions-table-header-wrapper">
	<div id="questions-table-header">
		<div>&nbsp;</div>
		<div class="cell">Ich stimme<br />absolut nicht zu</div>
		<div class="cell">Ich stimme<br />eher nicht zu</div>
		<div class="cell">Ich bin<br />unentschieden</div>
		<div class="cell">Ich stimme<br />eher zu</div>
		<div class="cell">Ich stimme<br />absolut zu</div>
		<div class="cell">These doppelt<br />gewichten</div>
	</div>
</div>
<div id="questions-table-rows-wrapper">
	<div id="questions-table-rows">
	</div>
</div>
